@model List<UserVM>


<div class="container mt-5">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Fullname</th>
                <th scope="col">Address</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FullName</td>
                    <td>@item.Address</td>
                    <td>@item.Email</td>
                    <td>@item.Age</td>
                </tr>
            }

        </tbody>
    </table>
</div>

